[2014-03-18 16:53] tobyink opened #2 "Wishlist: eliminating some test dependencies"
I can see the advantages of using Test::WriteVariants when it comes to maintaining parallel sets of test cases. You don't want to add a test for `:modern` but forget to add the same test to, say, `:alias`. Once it's a little better documented I'll probably end up using it for a few projects. (For example in MooseX::Deprecated I have to maintain parallel sets of tests for Perl 5.8.x and Perl 5.10+.

[2014-03-19 10:51] #2 closed, assigned to nobody

[2014-03-24 12:27] tobyink opened #3 "Run-time dependency on Module::Runtime is not declared in Makefile.PL"
There's a "configure requires" dependency listed, but not a "runtime requires". But it is used at run time.

[2014-03-24 17:55] #3 closed, assigned to nobody

[2015-03-18 09:40] dave-miles opened #7 "0.407 release clobbers 'dzil clean'"
We use Jenkins to build private modules via dzil which started failing yesterday. The build was failing on a **dzil clean**:

[code]

Investigating we found that List-MoreUtils version 0.407 was being pulled in. Since we use [cpanm](https://github.com/miyagawa/cpanminus) and [cpanfile](http://search.cpan.org/~miyagawa/Module-CPANfile-1.0002/lib/cpanfile.pod) to install module dependencies we pinne

[2015-03-18 09:47] rehsack commented on #7
Hi Dave,

because there is no concrete failure I can prove - can you in opposite check whether the current ~HEAD is fixed?

Thanks in advance,
Jens

[2015-03-18 10:58] rehsack commented on #7
Well, here it works - I expect it's a dulicate of RT#102840: uniq broken for call-by-function-return

[2015-03-18 10:58] #7 closed

[2015-03-18 14:02] dave-miles commented on #7
**dzil clean** now stable under 0.408

[2015-03-18 14:07] rehsack commented on #7
If you want try again - check .travis.yml about the developer dependencies ...
That's a one-liner you can copy for bootstrapping and a 2nd line for authoring (eg. xt/) and test dependencies (t/)

[2015-03-18 14:11] dave-miles commented on #7
Ah! Must remember to check .travis.yml!
[code]

[2015-03-19 20:07] nanis opened #8 "Macros introduced in dfd851147f cause problems with MSVC"
See [test report](http://www.cpantesters.org/cpan/report/c7be9a11-6c76-1014-a8ab-43f4045ca49c).

`MoreUtils.xs` doesn't compile any more. I arrived at the specific commit using `git bisect`.

<pre>C:\...\src\List-MoreUtils> git bisect good
dfd851147f0861750f36e58cfac151b98cf8edc1 is the first bad commit
commit dfd851147f0861750f36e58cfac151b98cf8edc1
Author: Jens Rehsack <sno@netbsd.org>
Date:   M

[2015-03-19 20:18] nanis commented on #8
#line 369 "MoreUtils.xs" { if(!codelike(code)) Perl_croak_xs_usage(cv, "code,
    ..."); if (items > 1) { SV **newsp; PERL_CONTEXT *cx; CV *multicall_cv; OP
    *multicall_cop; char multicall_oldcatch; U8 hasargs = 0; int i; HV *stash; GV
    *gv; CV *_cv; SV **args = &(((PerlInterpreter
    *)Perl_get_context())->Istack_base)[ax]; I32 gimme = 2; _cv =
    Perl_sv_2cv(((PerlInterpreter *)Perl_get_

[2015-03-19 21:08] rehsack commented on #8
I will check this tomorrow soon. Thanks for submitting.

[2015-03-19 21:21] nanis commented on #8
Nothing other than what's contained in the failing test report, I am afraid:

<pre>MoreUtils.xs(370) : error C2059: syntax error : '{'
MoreUtils.xs(370) : error C2143: syntax error : missing ';' before ')'
MoreUtils.xs(370) : error C2059: syntax error : ')'
MoreUtils.xs(370) : error C2065: 'cx' : undeclared identifier
MoreUtils.xs(370) : warning C4047: '=' : 'int' differs in levels of indirection

[2015-03-19 21:26] rehsack commented on #8
Sorry for asking, it's late.

[2015-03-21 16:51] rehsack commented on #8
Shipped 0.409_001 for testing - please tell me whether it helps (I tried MSVC 2013 and SunPro 12.3)

[2015-03-22 12:23] nanis commented on #8
I did not look at the code, but it seems to work ;-)

<pre>C:\> cpanm http://search.cpan.org/CPAN/authors/id/R/RE/REHSACK/List-MoreUtils-0.409_001.tar.gz
--> Working on http://search.cpan.org/CPAN/authors/id/R/RE/REHSACK/List-MoreUtils-0.409_001.tar.gz
Fetching http://search.cpan.org/CPAN/authors/id/R/RE/REHSACK/List-MoreUtils-0.409_001.tar.gz ... OK
Configuring List-MoreUtils-0.409_001 ... OK
Bui

[2015-03-22 12:25] nanis commented on #8
OK, I see ... Nice work-around. Thank you very much for your work.

[2015-04-07 11:14] #8 closed

[2015-05-09 10:16] ribasushi opened #11 "Unacceptable use of Config::AutoConf for compiler-detection."
Config::AutoConf is widely regarded by the toolchain as an "exercise of overengineering". Thus there is high motivation to limit its proliferation, which in turn makes the use of C::AC in "high upriver" projects very undesirable.

Given the mandate of "avoid whenever possible", using C::AC **exclusively for compiler detection** is definitively unacceptable. This ticket's sole purpose is a formal r

[2015-05-09 11:14] rehsack commented on #11
This is a formal reject of the request to remove Config::AutoConf as compiler detection, because of no sane reason. I completely disagree to the "exercise of overengineering" - but I don't do the discussion from #9 again.

My technical reasons are: there is no sane compiler test and the upcoming ExtUtils::HasCompiler is very untested and might be a solution when enough effort will be put into it.

[2015-05-09 11:51] ribasushi commented on #11
Nod. This  is sufficient written record for others to justify "we need to switch away" arguments elsewhere.

Let me stress this again - given the current mood, C::AC is extremely unlikely to become the dominant configure-time compiler detection mechanism CPAN-wide (you are currently the sole advocate of this, and there is no viable mechanism to get more distributions to start using it). Therefore

[2015-05-09 12:34] rehsack commented on #11
If you need a full control over all your dependencies - please do. Of course this is the separation I referred to, which will have significant influence. I strongly recommend you urge them to move away from all my distributions.

This marks lot's of comments in #9 as a lie ("it's only about user-side test generation") and I'm glad that you admit it.

As long as you call every of my use-cases as a

[2015-05-09 14:50] ribasushi commented on #11
Err... https://github.com/perl5-utils/List-MoreUtils/pull/9 *was* (at least to me) chiefly about user-side test generation. That issue was mostly addressed by https://github.com/perl5-utils/List-MoreUtils/commit/91f51eae, which I acknowledged right here: https://github.com/perl5-utils/List-MoreUtils/pull/9#issuecomment-100459804.

The current ticket is about the second issue that turned LMU into a

[2015-05-09 15:39] rehsack commented on #11
Because it doesn't has been solved with the approach in #9

While I had nearly no opinion about user-side test generation and happily fix the issue - even if no one explained the problems in details, neither here.

So when all you call "highly problematic" is the usage of a slightly over-engineered solution (for no further explanation, showing real problems and showing where maintainers didn't car

[2015-05-09 15:51] shadowcat-mst commented on #11
I feel like when using a complicated solution for a simple problem in a heavily depended upon dist, the burden of proof that that makes sense is upon justifying the complexity.

i.e. show us why this is necessary, and show us how you've already tested this solution in the wild.

This attitude is what is pushing multiple members of PTG towards believing you will make switching away the only option.

[2015-05-09 18:00] karenetheridge commented on #11
*raises hand*

[2015-05-09 22:37] kentfredric commented on #11
Try to see it from our perspective:

- You have a module you use
- Lots of people use this module
- Module is mostly straight forward and simple complexity wise
- Essentially a collection of pure functions, no confusing architecture requirements
- Functions do very rudimentary things with simple perl primitives
- Module has been shipped and used for 5 years without problem
- New Author comes along

[2015-05-09 22:52] kentfredric commented on #11
^ Fwiw, I also have distributions which I have urged people to move away from.

But the reasons are different: Those distributions of mine are inferior with design complications that can't be resolved and one is likely to be throwing themselves under a bus by using them. I aim to fix them as best as possible, but my hands are effectively tied because you can't un-fuck fundamentally flawed design i

[2015-05-10 12:30] rehsack commented on #11
I did in #9 - but you don't even try to understand. I offered a session where I explain all those details - but it wasn't wanted. It's wanted to switch away from the way I chose, regardless of the reasons.

It's quite interesting calling me stubborn who fights for more than 5 years meanwhile for better compiler tooling - and finally giving up because of those threads and the circular arguing ("Sho

[2015-05-10 14:51] Leont commented on #11
I agree C::AC is not the logical choice for compiler detection, I'm not seeing any advantage over using ExtUtils::CBuilder's have_compiler directly, if only because C::AC is using EU::CB underneath. I do believe we can do a better job of this checking than we're doing this now (for example by checking if the result is loadable), and EU::HC is an attempt at that.

I do think it's the best thing (or

[2015-05-10 15:50] rehsack commented on #11
@leont - EU::HC fails havily compared to EU::CB by relying on Config only. On certain environments (I remember around the time of Perl 5.10 where pkgsrc played a lot on IRIX and MIPSpro and AIX using xlc wrapped for gcc compatible calling) when the PATH is limited, some builders use hard coded FQPN for all build tools. Those path's were in a temporary build root and it's gone after the build. Any

[2015-05-10 16:15] rehsack commented on #11
@kentfredric - allow me to respond:

Here is the first wrong assumption. In Pure-Perl it might by simple complexity wise - the XS part is far away from being that simple.

Yeah - such pure functions as each_array and natatime and RT#102673 (Summarize of collected wishlist entries).

You can do stand-up comedy with that statement :)

Haha. Ticket list speaks a complete different language (bearing i

[2015-05-11 00:01] kentfredric commented on #11
Let me ask this differently: what kinds of problems does LMU have that make its internal complexity requirements higher than most other modules in the same level of utility?

I'm not talking about "What about operating systems" here, I want to know "what is in the guts that makes it complicated"

Possibly a nuance lost in translation here, but I didn't mean to imply "all", only "Substantive number

[2015-05-11 06:06] rehsack commented on #11
It runs on perl 5.6 - recent blead. The PadWalker API changed havily (multiple times, but that heavily every time). But what makes me initially adding C::AC was RT#93207. It took me several incarnations to figure out a solution which works with the pure perl API - beside tests.

I'm for both of the hot spot's at the moment unsure whether they're completely solved.

My reply was intended to open ey

[2015-05-11 06:43] kentfredric commented on #11
Just linking to the two RT articles directly for user convenience ( If @rehsack  feels generous he could edit his comment to link to them and then this comment will be redundant ).

1.  [rt#93027 - LMU: minmax truncates intermediates to double ](https://rt.cpan.org/Public/Bug/Display.html?id=93207)
2. [rt#75672 - Params::Utils: Loading Params::Util on Cygwin perl breaks `` ](https://rt.cpan.org/Pu

[2015-05-11 12:14] rehsack commented on #11
As said - don't stick at the tickets only. They're part of the picture - even not the entire one.

grep.cpan.me is back in business - so I take the chance to copy the found dists from there (for those who still didn't look into https://github.com/ambs/Config-AutoConf/issues/5):

* Math::Int64
* Math::Int128
* File::LibMagic
* MaxMind::DB::Writer
* MaxMind::DB::Reader::XS
* Marpa::R2
* Lingua::PT::

[2015-05-11 12:17] kentfredric commented on #11
The question for me is not "Where can CAC be  used". But "Is it the right tool for this job". We both agreed already that it was too complex for this job, and the complexity only seems warranted because there was no lower solution.

Hence why I asked for a finite list of example problems that _this_ module needs to solve, and a finite set of deliverables that _this_ module needs to achieve.

Not a

[2015-05-11 12:28] rehsack commented on #11
@kentfredric - @shadowcat-mst asked for that list.

Thanks. I think maybe there is little light at the end of the tunnel ...

As far as I know there is precisely one man for the job: @Leont - and he's busier than me :(

What is really important for future - the new tool must be in a way that allows C::AC build on that extended features without breaking list above.

[2015-05-14 11:33] jddurand commented on #11
Seeing re::engine::GNU mentionned I just say that, if carefully coded, using C::AC works very well.

[2015-05-14 15:48] rehsack commented on #11
There is maybe one thing I didn't express clearly enough:

LMU::XS will rely on C::AC.

But when (LMU+LMU::PP) and (LMU::XS) are split (or divorced?), I have very low arguments against switching in LMU to something compiler detecting only to add LMU::XS dependency. (I hope this is very clear).

[2015-05-30 17:36] Leont commented on #11
This ticket has gone on a tangent, not unlike the precious one, I'm not even sure what the question is now, people are saying things but not really responding to the other. The fundamental problem is that the meta-discussion is being skipped: what makes a solution a good solution. Without that, this is not going anywhere.

[2015-05-31 21:32] ribasushi commented on #11
That much is true, however...

@leont allow me to summarize. The original request (not a question) was stated in the [opening of this ticket](https://github.com/perl5-utils/List-MoreUtils/issues/11#issue-74640249):

This was rejected [here](https://github.com/perl5-utils/List-MoreUtils/issues/11#issuecomment-100466641) and [here](https://github.com/perl5-utils/List-MoreUtils/issues/11#issuecomment

[2015-06-01 13:01] rehsack commented on #11
That probably intensional - the ticket is completely political motivated

Which can be phrased as "until a NOP statement switches the carry flag"

You never tried that. You tried to kick out something you don't trust and don't want to trust. The requests in issues#9 and here to clarify what is missing to make C::AC acceptable is still unanswered.

OTOH - meanwhile I agree. I do not intend to do ne

[2015-06-01 13:24] ribasushi commented on #11
This is correct. I do not see how this is in any way *politically motivated*. I am exercising my tendency (and in many ways obligation) to distrust questionable designs **on technical merit alone**.

Apologies on that front - it didn't occur to me there are still unclear parts there. To answer your question as clearly as possible: There is no acceptable scenario of using C::AC (or any other `confi

[2015-06-01 13:54] rehsack commented on #11
Well - to support those systems without configure_requires - the distribution comes with a bundle running down to Perl 5.6.configure_requires is not required. Since 5.6 was only added for you're support of 5.6 - I can remove that part to simplify Makefile.PL soonish...

Qui tacet, consentire videtur. So we know.
Nemo iudex in causa sua.

Age, quod agis! Ultima ratio: variatio delectat.

[2015-06-01 15:39] dolmen commented on #11
If C::AC is used only to detect the presence of a compiler, that seems overkill for the task.

So, it seems to me that the *political motivation* is on the other side of the fence: to introduce C::AC in LMU, and then use that to push it further by claiming it has major users such as LMU.

[2015-06-01 15:41] rehsack commented on #11
@dolmen - `seems` is not the same as `is`. I explained very detailed and very explicit what leads me to rely on C::AC. Please read it.

[2015-06-01 22:54] kentfredric commented on #11
I think if I attempt to gingerly rephrase what Ribasushi is trying to say, is using C:AC "seems" to us like the situation one would have if somebody decided they want to use any of Moose/Moo/Class::Tiny in Makefile.PL, simply because they needed OO for something.

All of those would be deemed too complex for the task of simply needing `->new` provided for you.

C:AC is seemingly similarly complica

[2015-06-01 23:13] kentfredric commented on #11
I think this is a representation of where we are.

![cac](https://cloud.githubusercontent.com/assets/44790/7925412/4095ed3e-0918-11e5-88b7-ac14ff5a6d1c.png)

[2015-06-02 05:01] rehsack commented on #11
Nope - this is maybe an impression of people who didn't dig into. When you do, you realize that the proportions are heavily wrong.
But the real problem is - noone wants to get deeper into C::AC - but anybody judges about it and has opinion.

Well - for a desired solution in a Makefile.PL extension, @shadowcat-mst suggests Role::Tiny and Class::MethodModifiers - I'm sure when I'm going to do it, it

[2015-06-02 07:23] kentfredric commented on #11
^ is what you said on the complexity. Did I misinterpret?

That very clearly says to me that "Yes, C:AC is far too complex, but the subset of behaviours I need I can't get any other way at present"

[2015-06-02 07:35] rehsack commented on #11
Those attention is needed to get C::AC more "Perlish" - not functional. It might be reasonable to extract functality like check for external libraries - but for checking for reasonable XS capability, ~70%-80% of existing C::AC code is used and the load-check for host=target is still missing. The compiler detection code itself is not existing (uses ExtUtils::CBuilder with all pro's and con's) (http

[2015-06-02 20:09] haarg commented on #11
Wait, after all of this discussion, Config::AutoConf doesn't even solve the problem it's being used for?

[2015-06-03 03:59] rehsack commented on #11
Where did you read anything guiding you to such an assumption?

[2015-06-03 10:43] Leont commented on #11
I would disagree. The individual parts of LMU can be quite tricky to get right, but they're all fairly self-contained; The XS in LMU is difficult for sure, but it is not that complex. C::AC on the other hand is the opposite: it's a highly interdependent series of functions that usually don't do anything difficult individually. Needing *"~70%-80% of existing C::AC code"* to do something that common

[2015-06-03 10:55] Leont commented on #11
Probably in the *"The compiler detection code itself is not existing (uses ExtUtils::CBuilder with all pro's and con's)"*. I think you mean "configuring which compiler to use", and he interprets that as "detecting if we have a compiler".

[2015-06-03 11:05] ribasushi commented on #11
@Leont Can you clarify how is this:
`...configuring which compiler to use...`
practically different from this:
`...detecting if we have a compiler...`

[2015-06-25 15:43] rehsack commented on #11
A way to ask for trouble is misusing permission. However ...

@Leont - all your questions were discussed in https://github.com/perl5-utils/List-MoreUtils/issues/11#issuecomment-100658664 .. https://github.com/perl5-utils/List-MoreUtils/issues/11#issuecomment-107840398.

There is no single solution maintained where I could fill tickets for and could fetch updates from (beside all details from https

[2015-06-25 17:02] ribasushi commented on #11
@rehsack I didn't abuse anything. Github-wide the person who opened the ticket originally has permission to close it **regardless** of the rest of their permission levels ([here is an example](https://github.com/doy/package-stash/issues/16), I do not have any access to this repository).

Since **my** issue stalemated 3 weeks ago, after wasting a ton of time for many people, I decided to close it.

[2015-06-25 17:10] rehsack commented on #11
Regardless the source of the permission (admin, creator), such a large discussion shouldn't be simply closed - you can suggest a close, as you don't see any progress.

OTOH - you have your conclusion either, disable notifications and maybe others benefit from it or not.

[2015-06-25 17:17] shadowcat-mst commented on #11
With all due respect Sno ... piss off.

There was no abuse involved. You just happened to disagree as to where the 'closed' flag should be set or not. Don't make a big deal of it.

github lets you keep commenting on the thing anyway so it barely makes any difference - *locking* the issue might've mattered but only you can do that, not riba, so that's completely irrelevant.

In any case, this issue

[2015-06-25 18:51] Leont commented on #11
The issue in the first comment is something I fixed by modifying two lines of code, that's not exactly a convincing argument for the necessity of C::A.

As for the second comment, I'm not sure what answer is in it. Pulling in a large configure time dependency is not a logical solution when adding a simple cast to the C source would have solved it much more reliably.

AFAICT EU::HC satisfies all th

[2015-06-25 19:14] rehsack commented on #11
It's not only more reliable - it's more helpful when debugging or admins/packagers/... want to override something without going down the deep of hacking a EU::HC extension overriding the Config handling.

Let's check:

True

Not (yet) true, but I can see the opportunities given by EU::HC

Not true

Not true

Not true

I see it - and I think I gave enough examples why. Because of this I don't want

[2015-06-26 12:21] ribasushi commented on #11
This is the main point of disagreement. I (and seemingly others) want **precisely** this - one module to do compiler detection and **nothing** else, with an architecturally engineered **impossibility** to add any extra functionality down the road. If it becomes extensible, and gains bells and whistles and so on and so forth - it will essentially have all the same problems as C::AC.

[2015-06-26 12:27] rehsack commented on #11
Oh my - I've already explained why I think some additional checks might be necessary, but that's completely discussed and as far as the requirement doesn't come up I don't intend introduce overcomplex extensible stuff ahead. The time C::AC was introduced, nothing else was available.

The archirecture to make EU::HC extensible can be easy - have a sane, structured cache as other configuration detec

[2015-06-26 13:16] Leont commented on #11
I'm not sure what you're trying to say here.

I moved this to a [separate ticket](https://github.com/Leont/extutils-hascompiler/issues/4)

[2015-06-26 13:58] rehsack commented on #11
I know (and this is not an accusation).

Please try following:

1) Download more or less recent LMU (or maybe Unix::Statgrab, File::LibMagic, ...) and run Makefile.PL.
2) Download more or less recent rrdtool (graphviz, ...) and run ./configure

for both (or all) - check the config.log (LMU seems quite managable - Unix::Statgrab shows better even in successful cases). Such config.log's contain line

[2015-08-06 18:23] bingos opened #12 "Test failures from Raspberry Pi"
I've seen 1 subtest fail on Raspberry Pi (both Linux and FreeBSD) (both RPi B and RPi 2).

http://www.cpantesters.org/cpan/report/1f89881e-2234-11e5-a85a-e28fcaadd3a7
http://www.cpantesters.org/cpan/report/564d1942-2239-11e5-a85a-e28fcaadd3a7
(There will an arm-freebsd one at some point too).

I stuck an 'or diag($@)' on the failing test and got the following:

not ok 360
# Failed test at t/lib/LM

[2015-09-15 16:44] richardipsum opened #14 ".git may be present in user mode"
Hello :)

commit 684c42a8a52594d00335ef82d825e7a91693e250 adds a test which uses the presence of a .git directory to distinguish between author and user mode. We work with a system that takes release tarballs from CPAN and converts them to git repositories. List-MoreUtils in particular fails to build in our environment because the tarball on CPAN doesn't have the Sandbox::Tumble module that the Ma

[2016-02-18 14:40] ribasushi commented on #11
A failure I experienced today: the compiler detection **does not work at all** when `cc` exists but is not a compiler. Reproducible via the following steps:

[code]

It has been over a year - can this be finally fixed, **please**.

[2016-02-18 16:08] rehsack commented on #11
This false positiv is intensional. You don't want to use LMU, please stop caring.

When people are interested in real fixes, I'm there and open for discussions.

[2016-04-12 13:47] rehsack commented on #14
The entire code is introduced because of the trouble in #9 and #11

Personally I think, the new code is worse than expecting a reasonable configure stage.

Is GIT_DIR not a reasonable workaround?

[2016-04-12 14:23] rehsack commented on #12
Are you sure that this is an L::MU issue? Seems there is an automatic correction of "index" which isn't right there.

[2016-04-12 15:34] richardipsum commented on #14
Hi! Sorry I don't understand the question. Can you elaborate?

[2016-04-12 15:35] rehsack commented on #14
https://git-scm.com/blog/2010/04/11/environment.html

[2016-04-12 16:18] richardipsum commented on #14
Hrm, perhaps I misunderstand, but the issue here is really that you cannot assume that the presence of a directory named ".git" means that you're in "author" mode. I'm not sure how GIT_DIR would solve this.

[2016-04-12 16:24] rehsack commented on #14
Well - it is a suitable way.

Just don't have a .git directory in the project dir, it is easy for you to solve that.

Try to convince me why it is unacceptable for you to move the .git directory to somewhere else and ask me to spend my spare time find another solution.

[2016-04-12 16:31] kentfredric commented on #14
I suspect they're doing something like  [Git::CPAN::Patch](https://metacpan.org/release/Git-CPAN-Patch) does, which makes it impossible to change where the git directory is.

Because you're mirroring upstream tarballs in commits-per-release pattern.

"Just change" may not even be an option.

[2016-04-12 16:34] rehsack commented on #14
They should explain - and if difficult, offer a suitable patch.
A patch which works on travis and without having git installed (local CI, NFS mounts).

[2016-04-12 16:43] kentfredric commented on #14
"assume authormode if META.yml" has been a reasonable heuristic for some cases so far.

Given that the META.yml must be added to correctly publish the dist, and that Makefile.PL will generate the META.yml if one does not exist.

But there's a few other tricks harrg/distar does here that could be important.

[2016-04-12 16:56] rehsack commented on #14
I thought about something like that, but as said - it costs me and might cause other issues...
To develop a clean, complete solution with tests etc. causes lot's of effort for maybe no reason.

@richardipsum should explain and seriously prove ...

[2016-04-13 10:35] rehsack commented on #14
I created https://github.com/ambs/Config-AutoConf/issues/11 - even if I think this ticket smells for commercial support request.

[2016-04-15 16:12] jomo666 opened #19 "Test fails with 5.24.0-RC1 on OS X"
The result of the `make test`
[code]

the perl (plenv) version:
[code]
the os: `Darwin nox.local 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64`

The `prove -rbv` show all tests passed ok, but the asserion error.

[2016-05-09 20:32] jomo666 commented on #19
With perl 5.24.0 and LMU 4.15 installed OK. closing.

[2016-05-09 20:32] #19 closed

[2017-02-18 21:16] #14 closed

[2017-02-18 21:17] rehsack commented on #12
ETIMEDOUT :P

[2017-02-18 21:17] #12 closed

[2017-02-18 21:18] rehsack commented on #11
Reworked as intended - even if the root cause is and will remain unsolved, this request is done.

[2017-02-18 21:18] #11 closed

[2017-03-08 11:17] haarg opened #22 "Upgrading from LMU 0.416 to split XS/PP version will fail"
Previous versions of List::MoreUtils would install into the arch directory, because they had an XS component.  With List::MoreUtils::XS being split into a separate dist, List::MoreUtils and List::MoreUtils::PP will be installed into the non-arch lib.

arch takes precedence, so if a user upgrades from 0.416 to a split PP/XS version, the new version will be shadowed by the old version and the new ve

[2017-03-08 11:19] haarg opened #23 "CheckConflicts in Makefile.PL doesn't exist"
There is a call to CheckConflicts in the Makefile.PL that doesn't exist.  It currently doesn't break because there is no CONFLICTS specified, but the call should still be implemented or removed.

[2017-03-12 16:33] rehsack commented on #23
I decide for implementing it, since being prepared for needing it at a moment with extrem low on tuits sounds today better than let users wait again.

[2017-03-12 16:33] #23 closed

[2017-03-12 16:36] rehsack commented on #22
Thank you very much. I'll see how current push behaves in travis and will adopt your hint when testing on a blead-perl later.

[2017-03-21 16:54] shadowcat-mst opened #24 "Please document your permission to change the license"
Relicensing normally requires permission from all prior contributors and I don't see anything demonstrating due diligence has been done here.

[2017-03-21 16:56] rehsack commented on #24
I'll clarify in final release the the new license covers only code from 0.417 and above. Thanks for pointing that out.

[2017-03-21 16:56] #24 closed

[2017-03-21 17:00] shadowcat-mst commented on #24
So the license is going to be "Artistic or GPL" *and* "Apache 2" ? This seems likely to annoy compliance departments.

[2017-03-21 17:03] rehsack commented on #24
Well, it's likely true - but when people run around and publish code under their name without pointing out the source, it's unfortunately the only consequence. Open Source and Public Domain is a big difference.

[2017-03-21 17:05] haarg commented on #24
What code has been published in List::MoreUtils without attribution?

[2017-03-21 17:07] rehsack commented on #24
I'm not going to discuss those kinds of issues with you guys. I'm sorry. This war has been gone to far and I'm not willing to do it anymore. I continue this project and I'm happy about any technical issue reported and will fix anything which bothers people - but no discussion about permissions, attitude etc. anymore.

[2017-03-21 17:19] shadowcat-mst commented on #24
This is a technical/legal issue;  please don't imagine personal attacks where none exist, you're discussing with us here, not arguing with riba.

[2017-03-21 17:21] gregoa commented on #24
Trying to understand how this would work in practice: does this mean that old code lines would be under Artistic or GPL-1+, and newer commits under Apache-2.0? Or something different? This sounds at least confusing (if legally possible).

I'm fine with any free license, just trying to wrap my head around this question in order to be prepared for a next upload to Debian :)

[2017-03-21 17:22] shadowcat-mst commented on #24
At the very least it would be helpful to call out the new license clearly in the docs so that people don't end up accidentally affected by this change across an upgrade - while this isn't a technical compat break, users should be made aware of the additional potential compliance issues so they have the option to switch to a normally licensed distribution if the compliance is a problem for them.

[2017-03-21 17:28] rehsack commented on #24
@shadowcat-mst - since #9 and #11 I don't make there any difference anymore. If you want to change that, this is not the right place.
@gregoa - @shadowcat-mst phrased it correctly as "Artistic or GPL" and "Apache 2".

[2017-03-21 17:28] karenetheridge commented on #24
I see the changelog says:

@rehsack can you clarify what you mean here? do you mean code stolen from LMU, or stolen from other sources and added to LMU? How would the Apache 2.0 licence help?

[2017-03-21 17:55] gregoa commented on #24
@rehsack Thanks for the clarification. While I don't know if and how much headache this causes for our users (as in: what exactly is the result of this license combination?), `"License: Artistic or GPL-1+, and Apache-2.0"` [translated into our copyright format syntax], meaning "the files contain both Artistic-or-GPL-1+ and Apache-2 code", should work for us.

[2017-03-21 18:02] rehsack commented on #24
@gregoa - the typical user just used the module and doesn't care those differences. The headache applies when you start derived work from such a module.

[2017-03-22 09:18] haarg commented on #24
Can you explain the issue you have with attribution regarding List::Util and List::SomeUtils?  If there is a problem with attribution, we should work to resolve that no matter what you do with the license in this dist.

[2017-03-22 09:54] rehsack commented on #24
Not here, not now. Maybe face to face. Let's keep on topic - the issuer was right, the point has been clarified.

[2017-03-29 18:30] Grinnz opened #25 "List::MoreUtils::XS is no longer installed by default when XS is available"
This could be considered a regression due to the split dist, as the XS code was always installed before. Unless it's specifically requested as a dependency, List::MoreUtils::XS will not be installed anymore in a fresh install. For reference, List::SomeUtils solves this with dynamic config and ExtUtils::HasCompiler (via dzil plugins): https://metacpan.org/source/DROLSKY/List-SomeUtils-0.53/Makefile

[2017-03-29 18:41] rehsack commented on #25
Since List::MoreUtils::XS needs List::MoreUtils as loader, it is not possible to install it automatically when XS is found. Even more: there is no trivial way to reliable detect XS availability.
So I had to make a decision. I made the decision when reworking issues beginning with 0.400 - and I rethink last 6 month where the code was under development.

A regression in my understanding means, that

[2017-03-29 18:42] rehsack commented on #22
I hope this is done correctly now. I watch cpantesters...
Thanks again for pointing that out.

[2017-03-29 18:42] #22 closed

[2017-03-29 19:18] shadowcat-mst commented on #25
This is a massive performance regression, and for some production loads means an upgrade of List::MoreUtils will result in production services failing.

installing the XS component by default if possible is standard. If you still insist on using your own build tools, you could at least make them work properly.

[2017-03-29 19:35] karenetheridge commented on #25
Then you made the wrong decision in the way these modules depend on each other.

Also, passing `PUREPERL_ONLY=<anything>` causes a build failure, which is unacceptable.  Some cpan clients will pass this value.

`PUREPERL_ONLY=0` should result in the XS module being installed/upgraded.  `PUREPERL_ONLY=1` should always work unless an older version of the XS module is already installed, in which case

[2017-03-29 19:39] rehsack commented on #25
I think over that and find a solution

[2017-03-29 19:42] karenetheridge commented on #25
Come talk to \#toolchain --  many different permutations of PP/XS have been tried, and there is some wisdom to be gained from people who have tried and fallen down in the past :)

[2017-03-29 19:42] rehsack commented on #25
Never again

[2017-03-29 20:13] shadowcat-mst opened #26 "PP/XS split needs to be fixed up."
So, what *should* be the behaviour is (note I'm documenting the full list, not implying all of these are broken):

1) List::MoreUtils::XS can be installed on its own and use()d directly and works.

2) Installing List::MoreUtils with a compiler available should automatically also install List::MoreUtils::XS

3) Running List::MoreUtils' Makefile.PL with PUREPERL_ONLY set to a true value should super

[2017-03-29 20:14] shadowcat-mst commented on #25
Opened a #26 to give us a fresh discussion of the specific issues.

You should try #toolchain again eventually though - it's been far more civilised since riba's tantrum+ragequit.

[2017-03-29 20:19] Leont commented on #25
Could you explain why this is necessary?

I am surprised by this statement coming from you.

I may be mistaken, but I had the impression that they're not identical in the way they're dealing with `@_`.

[2017-03-29 20:24] karenetheridge commented on #26
This also means that if LMU (the PP side) is being upgraded, then the XS side should also be upgraded -- so LMU $x should add a prereq for LMUXS $x.

[2017-03-29 20:41] rehsack commented on #26
Guys - the only point was, that it never was a requirement. In contrast - at the moment I was discussing the reduction of the requirements of (max reduced) LMU, it was mentioned by one that explicitely requirement of List::MoreUtils::XS is reasonable and should be approached.

#25 made clear, that this was a special view and List::MoreUtils::XS should be able work alone and NOT depend on List::Mor

[2017-03-29 20:46] shadowcat-mst commented on #26
This is not pressure, I was trying to be explicit to avoid further miscommunication.

It was always a requirement. If you don't meet these requirements splitting the dists then the split dists are broken. We explained this years ago.

This is standard for split PP/XS dists. Please don't pretend it's special. It isn't.

[2017-03-29 20:47] rehsack commented on #25
@shadowcat-mst - sorry when I do not believe, even you're engagement speaks another language.

@Leont - it's just developed that way because when designing pure LMU at niederrhein.pm ages ago, this was simply recommended by all discussion attendees.
You can call it a mistake or bad design or whatever - it's at the moment at it is and was out for nearly 8 weeks and could be reviewed.

Well, the spl

[2017-03-29 20:51] rehsack commented on #26
1st paragraph is fine. 2nd paragraph is debatable. 3rd paragraph is the reason not joining irc.perl.org at all. Calm down.

You could be explicit in #25 without any trouble. I'm closing here (completely), any further (reasonable) questions and discussion can continue in #25.

[2017-03-29 20:51] #26 closed

[2017-03-29 20:53] shadowcat-mst commented on #26
Damnit, I opened this one because YOU CLOSED #25.

Please re-open one of the issues, or we can create another one.

3rd paragraph is completely calm. You claimed special. I told you that you were wrong.

Please stop calling me "not calm" for pointing out that you are factually incorrect. YOu are being unreasonable.

[2017-03-29 20:55] shadowcat-mst commented on #25
@rehsack just closed #26 as well. We need to either re-open one of these issues or somebody needs to file a new one that @rehsack promises to listen to instead of closing them every time somebody points out he made a mistake.

[2017-03-29 20:56] shadowcat-mst commented on #26
I fail to see how telling you it isn't special when you claimed "this was a special view" is an issue. If you don't want me to say something that isn't special isn't special ... don't claim that it's special.

Facts exist. Please keep calm and keep to the facts.

[2017-03-29 20:57] rehsack commented on #26
As you realize, you can easily post to a closed issue and ask if it can be reopend because you have a point. Starting opening new issues because you think you're right is pressuring. Get it or not.

I did not claim being special - I claimed that the people thinking about how to split those modules explicitely wanted that kind of split.

[2017-03-29 20:59] rehsack commented on #25
@shadowcat-mst - I promise to listen to any reasonable point. But I do not listen to shout contest.

[2017-03-29 21:05] shadowcat-mst commented on #26
I opened a new issue because the previous one had started to become confused, and had already been closed. This is a common approach to achieivng a clarified, calmer discussion.

Claiming it's pressuring is disingenuous at best. Also, you still haven't re-opened either.

Is your last comment a lie, then?

[2017-03-29 21:05] shadowcat-mst commented on #25
@rehsack and yet in spite of saying that asking to re-open an issue is fine, in spite of there being a valid problem here, you've left both issues closed.

Please pick one to re-open or create a new one or give us permission to create a new one without you claiming it's "pressuring".

Leaving both closed while telling me off for creating a still open one is not constructive.

[2017-03-29 21:07] rehsack commented on #25
Oh yes, if you like it being open, I'm doing that for you. I don't mind - since I realized the point and don't need the open issue to remember.

[2017-03-29 21:16] shadowcat-mst commented on #25
To summarise where we're currently up to:

1) List::MoreUtils must install ::XS by default if a compiler is available

2) PUREPERL_ONLY=1 must override this and ensure List::MoreUtils is installed pp-only in that case

3) PUREPERL_ONLY=0 must be a no-op rather than crashing Makefile.PL

Provided all three of these are true, exactly how you ensure they are true is up to you.

These three requiremen

[2017-03-29 21:16] Grinnz commented on #26
He re-opened the other issue. Let's take it down a notch.

[2017-03-30 09:42] kentfredric commented on #25
As a vendor, I'm just going to say that this specific interaction is likely not going to be a problem.

Mostly, because if I want to make users have the ability to install ::XS, I can do just that without needing to have Makefile.PL make it happen.

The only fun part for me is making sure the Makefile.PL doesn't spontaneously `die()` on me in either condition and respects the wishes the user indic

[2017-03-30 10:16] rehsack commented on #25
I expect that @shadowcat-mst see's his opan as a vendor-tool, either. I don't want to discuss that here (separation of concerns) and for the moment I accept this as a sane reason.

If there is something nasty on Makefile.PL's behavior (in doubt, don't try to understand the code - just tell me what you expect and what you got and maybe why you think that's wrong), I'll fix that immediately (see htt

[2017-03-30 10:25] rehsack commented on #25
The primary reason to split PP and XS was to remove the XS-availability stuff. I will not re-introduce them.

PUREPERL_ONLY=1 will not install ::XS

PUREPERL_ONLY=0 can recommend or suggest the ::XS.
It'll not test anything.

Agreed.

Four and no. (1) is not reasonable compared to former requirements (se #9 and #11). If this discussion explodes again because of this topic - we close and don't come

[2017-03-30 10:54] kentfredric commented on #25
At this point I don't have any specific requests, I'm mostly just trying to give a more objective view of what vendor concerns look like, in contrast to ether's suggestion they'll be too difficult.

If I have anything specific I need fixed, I'll work that out next week sometime when I get around to packaging the latest release. :)

But most of my commentary so far in this thread is not necessarily

[2017-03-30 11:13] haarg commented on #25
Adding List::MoreUtils::XS to suggests or recommends dynamically isn't going to work well, unfortunately.  Adding suggests or recommends would be done with META_ADD or META_MERGE, since EUMM doesn't support a parameter to specify them.  But META_ADD and META_MERGE are ignored when configuring on user machines.  You would need a hack of some kind to get EUMM to adjust suggests or recommends dynamic

[2017-08-23 09:36] rehsack commented on #25
Unfortunately you (requestors) cannot have all - No C::AC, XS depend on PP, XS standalone, bla bla bla - it is insane.

What can be done is adding it (hard!) to requirements and remove it from there dynamically when PUREPERL_ONLY (or similar) is set appropriately.

[2017-08-24 12:40] rehsack commented on #25
This issue is solved. Further details are discussed in https://rt.cpan.org/Ticket/Display.html?id=122875

[2017-08-24 12:40] #25 closed

[2017-08-24 15:26] Grinnz commented on #25
I don't agree that this issue is solved. Recommends is not a solution, as no CPAN installers use it by default. Relying only on PUREPERL_ONLY=1 for a hard dependency would be acceptable but unfortunate, detecting the lack of a compiler automatically and using PUREPERL_ONLY=1 only as a manual override is much more user-friendly.

[2017-09-01 04:29] kyzn opened #27 "t/xs tests fail without List::MoreUtils::XS installed"
Hi! I was recently updating my modules, and it failed for List::MoreUtils. All tests in t/ has passed fine, but nothing in t/xs has passed. Here's a sample error, but all looks the same.

[code]

This went away after I installed List::MoreUtils::XS.

[2017-09-06 15:24] Grinnz commented on #25
This seems to be fixed now with 0.425.

[2017-09-07 23:19] Grinnz commented on #27
this is a duplicate of https://rt.cpan.org/Ticket/Display.html?id=122875 and should be fixed in the latest version.

[2017-09-11 19:59] mike-hart opened #28 "sort_by/nsort_by reverse versions"
Hi, I note in 1e4ec43202b51af5f94deb5ad8fd5d483d3bf949 that sort_by and nsort_by were added from/equivalent-to List::UtilsBy

Is there a plan to also add the rev_* variants to avoid needing to reverse the results or (in the nsort case) invert the key?

[2017-09-20 17:30] 0x62ash opened #29 "pairwise() PP implementation add tail undefs if arrays sizes differs"
XS:
[code]
PP:
[code]

[2017-10-18 05:45] rehsack commented on #22
@haarg - can you provide the fixed patch?

[2017-11-06 10:10] rehsack commented on #28
No. I think, List::UtilsBy is a great module and there is no plan to make List::MoreUtils another List::AllUtils.

[2017-11-06 10:11] #28 closed

[2017-11-06 12:02] rehsack commented on #27
@Grinnz Thanks for guiding @kyzn.

Since RT is the official bug-tracker, people should not expect that GitHub issues are actively watched - but some just shoot and don't care about the extra effort the maintainers and contributors have to drag all pieces together.

As long as they're patient and do not rumble, I'm fine and watch before start new release work - maybe weeks / months "to late", but *

[2017-11-06 12:02] #27 closed

[2017-12-04 02:04] commojun opened #30 "Misprint in 'part BLOCK LIST' in POD"
In POD,
http://search.cpan.org/~rehsack/List-MoreUtils-0.426/lib/List/MoreUtils.pm#part_BLOCK_LIST

Is `$++` a misprint of `$i++` ?
https://github.com/perl5-utils/List-MoreUtils/blob/master/lib/List/MoreUtils.pm#L575

[2017-12-12 19:54] randyl opened #31 "XS version of one() returns true when passed an empty list"
The docs state:

However, I'm using perl 5.18, List::MoreUtils 0.428, and macOS 10.12, and I get the following:
[code]
The PP version works as expected:
[code]

[2017-12-12 20:36] petdance commented on #31
Even more concisely:

[2017-12-12 21:33] petdance commented on #31
This also affects List::SomeUtils: https://github.com/houseabsolute/List-SomeUtils/issues/3

[2017-12-12 21:55] petdance commented on #31
We mistakenly submitted this here instead of over RT, so I created one there: https://rt.cpan.org/Ticket/Display.html?id=123870

[2018-04-18 14:01] fgabolde opened #36 "Documentation issue for duplicates()"
The POD for `duplicates` asserts:

Should be "more than once".

[2018-04-20 11:14] rehsack commented on #36
Seems to but a duplicate of #33 :)

[2018-04-20 14:26] fgabolde commented on #36
Ah my bad, I had checked only the open issues before creating this one!

[2018-04-20 14:26] #36 closed

[2018-09-05 19:04] theory opened #37 "Don't Delete Existing Module when INSTALL_BASE is set"
This is a followup to #22 and per email discussion. I don't think that the `Makefile.PL` should write out a `pure_site_install` target that deletes an older site-installed version of `MoreUtils.pm` when `INSTALL_BASE` is set. The reason is because the local::lib-style use case enabled by `INSTALL_BASE` sets the install base to the highest `@INC` priority, and therefore will not conflict with the o

[2018-09-06 12:56] theory commented on #37
Thinking about it some more, an additional reason not to delete the file when `INSTALL_BASE` is set is that existing apps that don't use that local::lib directory might end up surprised that they no longer have List::MoreUtils. In fact, OS-provided applications could stop working!

I think a better options is to delete the file only if there are no other instances of the file in `@INC`, including

[2018-09-06 19:29] theory opened #38 "Installation Fails with MAKEFLAGS=-j4 and Conflicting Older Version"
Setup, including the installation of v0.33 (this test done on 5.20.3):

[code]

Try to install with `MAKEFLAGS=-j4`:

[code]

Note that the modules are not installed. Now install without `MAKEFLAGS=-j4`:

[code]

Success!

[2018-09-07 07:32] rehsack commented on #38
Please show which `make` you're using.

Experiments with gnumake 3.82 and nbmake 20150505 and gnumake 4.2.1 shown complete success for `make -j4 install INSTALL_BASE=... NOECHO="" VERBINST=1`

[2018-09-07 12:50] theory commented on #38
[code]

Poking at it a bit, this patch fixes the issue (thanks @miyagawa!):

[code]

[2018-09-07 12:59] theory commented on #38
Actually, scratch that. That patch does not fix the issue; it's just that on subsequent calls to `make install` it works. It's only the first that fails:

[code]

However, without that patch, it fails every time:

[code]

[2018-09-07 13:34] theory commented on #38
I fiddled with different code in the added `pure_site_install` target, but I could never get it to be consistent without eliminating it altogether. So I put together this patch, which makes it behave consistently:

[code]

[2018-09-09 16:26] haarg commented on #37
The file that is deleted is only the file that exists within the INSTALL_BASE.  It will not delete any files from elsewhere in `@INC`.

[2018-09-09 19:54] theory commented on #37
I've just tried a bunch of times, and it seems that you're right, @haarg. I think I had been assuming it would try to delete the file, because, as #38 demonstrates, the target that's added to delete the file, `pure_site_install`, prevents installation altogether -- *even when the target is `not pure_site_install`!

[code]

So I had been assuming that the file deletion target was executing, but it

[2018-09-09 19:57] theory commented on #38
FYI, without this patch, the bug seems to occur *even if `pure_site_install` does not execute:

[code]

[2018-09-09 20:13] theory commented on #38
Investigating #37 a bit, it looks like that bug might be an error, because I thought `pure_site_install` was executing even when `INSTALL_BASE` was set — because installation still fails when `INSTALL_BASE` is set:

[code]

Here's that same incantation again, but this time with full `make` debugging turned on for `make install`:

[code]

[2018-09-09 20:15] theory commented on #38
Can confirm that my suggested patch fixes the example in the last comment, too:

[code]

[2018-09-09 20:16] theory commented on #37
More testing makes me think this is not a bug, just something I thought was happening due to the issue described in #38. Will close.

[2018-09-09 20:16] #37 closed

[2018-09-10 14:36] theory commented on #38
Here's a sightly neater patch that preserves the separate target, but makes in a dependency of `pure_site_install`:

[code]

[2018-09-11 00:26] haarg commented on #38
This seems like a reasonable solution to me.  Re-reading the various documentation about double colon rules, relying on multiple of them doesn't seem reasonable for this purpose.

[2018-09-14 08:30] rehsack commented on #38
@haarg - I played a bit with different versions of gnumake (and gnumake 3.81 has the bug, that the dependencies of a double colon target are included to the lookup - so ``foo :: all`` and ``foo ::`` are different target with the same name for it - later versions fix that).

However - I know that many make implementations doesn't support double colon targets (but netbsd make does and gnumake does,

[2018-09-14 08:32] rehsack commented on #38
@theory unfortunately I had to disable notifications for this repository because of inappropriate issue tracker using in the past. If you need something being discussed, please use the rt as told in distribution meta ;)

[2020-10-05 13:46] rehsack commented on #31
Fixed in 0.428

[2020-10-05 13:46] #31 closed

[2020-10-05 13:47] rehsack commented on #30
Seems to be fixed without mentioning this issue

[2020-10-05 13:47] #30 closed

[2020-10-05 13:48] rehsack commented on #29
Fixed in 0.428

[2020-10-05 13:48] #29 closed

[2020-10-05 14:05] #38 closed